<h1>Welcome, <%= @user.name%></h1>



<% @senders.each do |sender|
  %>
    <%= sender.sender %>
    <br>
<%end%>

<br>
<% @letters.each do |letter|
  %>

  <div class="">


    <%= letter.content.html_safe %>

  </div>
    <br>
    <hr>
<%end%>
