<h1>Welcome, <%= @user.name%></h1>



<% @senders.each do |sender|
  %>
    <%= sender.sender %>
      <% @letters.each do |letter|
        if letter.sender == sender %>
          <%= letter.content.html_safe %>
        <%end%>
      <%end%>


    <br>
<%end%>





<br>
<% @letters.each do |letter|
  %>

  <div class="">


    <%= letter.content.html_safe %>

  </div>
    <br>
    <hr>
<%end%>
